#tagcomplete {
    position: absolute;
    inset: initial;
    top: 0;
    left: 0;
    padding: 0;
    min-width: 12rem;
    width: max-content;

    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    box-shadow: var(--input-shadow);
    background: light-dark(#ffffff, #0b0f19);
    color: var(--body-text-color);
    font-family: var(--font);
    font-weight: var(--input-text-weight);
    font-size: var(--input-text-size);
    line-height: var(--line-sm);
}

body.dark #tagcomplete {
    color-scheme: dark;
}

#tagcomplete ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#tagcomplete ul > li {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    padding: 10px;
    white-space: break-spaces;
    min-width: 100px;
    cursor: pointer;
}

#tagcomplete ul > li:nth-child(odd) {
    background-color: light-dark(#f9fafb, #111827);
}

#tagcomplete ul > li:hover {
    background-color: light-dark(#f5f6f8, #1f2937);
}

#tagcomplete ul > li[data-selected] {
    background-color: light-dark(#e5e7eb, #374151);
}

/* Invalid */
#tagcomplete ul > li[data-class="-1"] {
    color: light-dark(maroon, red);
}

/* General */
#tagcomplete ul > li[data-class="0"] {
    color: light-dark(dodgerblue, lightblue);
}

/* Artist */
#tagcomplete ul > li[data-class="1"] {
    color: light-dark(goldenrod, gold);
}

/* Copyright */
#tagcomplete ul > li[data-class="3"] {
    color: light-dark(darkorchid, orchid);
}

/* Character */
#tagcomplete ul > li[data-class="4"] {
    color: light-dark(darkgreen, green);
}

/* Copyright / Species */
#tagcomplete ul > li[data-class="5"] {
    color: light-dark(darkorchid, orchid);
}

/* Deprecated */
#tagcomplete ul > li[data-class="6"] {
    color: light-dark(maroon, red);
}

/* Meta */
#tagcomplete ul > li[data-class="7"] {
    color: light-dark(seagreen, darkseagreen);
}

/* Lore */
#tagcomplete ul > li[data-class="8"] {
    color: light-dark(dodgerblue, lightblue);
}